@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin-bottom: 0px !important;
}
ul li {
  display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px !important;
}

figure {
  overflow: hidden;
  margin-bottom: 0px !important;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background-color: transparent;
  border: none;
}

.margin-top {
  margin-top: 80px;
}

.news-headline-wrapper .category {
  border-bottom: 1px solid #006EAC;
  margin-bottom: 10px;
}
.news-headline-wrapper .category span {
  background-color: #006EAC;
  color: white;
  padding: 10px 20px;
  margin: 0px auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.news-headline-wrapper .news-headline {
  text-align: center;
  font-size: 50px !important;
  font-weight: 600;
  line-height: 60px;
  color: #020202;
}
.news-headline-wrapper .news-headline:hover {
  color: #006EAC;
}
.news-headline-wrapper .author-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.news-headline-wrapper .author-details figure {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.news-headline-wrapper .news-thumbnail {
  margin-top: 20px;
  max-height: 600px;
}
.news-headline-wrapper .news-thumbnail img {
  transition: 0.5s;
}
.news-headline-wrapper .news-thumbnail img:hover {
  scale: 1.2;
  opacity: 0.8;
}
.news-headline-wrapper p {
  text-align: center;
  width: 85%;
  margin: 10px auto 0px;
  font-size: 21px;
  color: #020202;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #006EAC;
  margin-bottom: 20px;
}
.section-header .news-category {
  background-color: #006EAC;
  padding: 10px 20px;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px !important;
}
.section-header a {
  color: green !important;
}

.section-header .nav-pills {
  margin-bottom: 0px !important;
}
.section-header .nav-pills .nav-link {
  color: black !important;
  padding: 10px 20px;
}
.section-header .nav-pills .nav-link.active {
  background-color: #006EAC;
  border-radius: 0px !important;
  color: white !important;
}

.top-header time {
  font-size: 15px;
  color: #1B1B1C;
  font-weight: 500;
}

.navigation-bar {
  background-color: #006EAC;
  color: white;
}
.navigation-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-bar .container nav {
  flex: 1;
}
.navigation-bar .container nav ul {
  display: flex;
  gap: 30px;
}
.navigation-bar .container .side-menu-open-btn {
  color: white;
  font-size: 24px;
}
.navigation-bar .container .serch-btn {
  height: 30px;
  width: 30px;
  background-color: white;
  color: #006EAC;
  border-radius: 50%;
}

.sticky {
  position: fixed;
  top: -73px;
  left: 0px;
  width: 100%;
  z-index: 9999999;
  transform: translateY(100%);
  transition: all 0.3s linear;
}

.side-nav {
  position: fixed;
  top: 0px;
  left: -100%;
  height: 100vh;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px rgba(155, 155, 155, 0.382);
  z-index: 9999999;
  transition: all 0.5s linear;
}
.side-nav .sie-nav-header {
  padding: 50px;
}
.side-nav .sie-nav-header .close-btn {
  background-color: #006EAC;
  padding: 10px 20px;
  color: white;
  border: none;
  margin-left: auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.side-nav .sie-nav-header img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
.side-nav .nav-link {
  margin-top: 40px;
}
.side-nav .nav-link ul {
  -moz-column-count: 2;
       column-count: 2;
}
.side-nav .nav-link ul li {
  display: block;
  margin-bottom: 20px;
}
.side-nav .side-nav-footer {
  margin-top: 40px;
  background-color: #006EAC;
  padding: 20px;
  color: white;
  text-align: center;
}
.side-nav .side-nav-footer a {
  display: block;
}

footer {
  background-color: #006EAC;
  padding: 100px 0px;
  color: white;
  text-align: center;
}

.recent-updates .feature-news {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.recent-updates .feature-news .news-details time {
  color: gray;
}
.recent-updates .aside-news-card .news-details .news-title {
  font-size: 18px !important;
  line-height: 26px !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recent-updates .recent-news-card {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 20px;
  border-bottom: 1px solid gray;
}
.recent-updates .recent-news-card:last-child {
  border-bottom: none;
}
.recent-updates .recent-news-card .news-details .news-title {
  font-size: 18px !important;
  font-weight: 600;
  margin-bottom: 10px !important;
}
.recent-updates .recent-news-card .news-details .news-title:hover {
  color: #006EAC;
}
.recent-updates .recent-news-card .news-details p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recent-updates .recent-news-card .news-details time {
  color: gray;
}

.aside-advertisement {
  font-size: 14px;
  font-style: italic;
  color: #666666;
}
.aside-advertisement .ads-wrapper {
  border: 1px solid gray;
  padding: 20px;
}

.finance .featured-news {
  position: relative;
}
.finance .featured-news .news-details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(32, 29, 29, 0.4862745098);
  color: white;
  border-top: 2px solid red;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.finance .featured-news .news-details .news-title {
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.finance .featured-news .news-details time {
  text-wrap: nowrap;
}
.finance .news-card figure {
  position: relative;
}
.finance .news-card figure time {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(32, 29, 29, 0.4862745098);
  color: white;
  padding: 5px 20px;
  font-size: 14px;
}
.finance .news-card .news-title {
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.finance .news-card:hover .news-title {
  color: #006EAC;
}

.thoughts-section .news-card {
  text-align: center;
}
.thoughts-section .news-card figure {
  height: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0px auto !important;
  overflow: visible !important;
  position: relative;
}
.thoughts-section .news-card figure::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #A1BAC8;
  border-radius: 50%;
  position: absolute;
  left: -20px;
  z-index: -1;
}
.thoughts-section .news-card figure img {
  height: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.thoughts-section .news-card .news-title {
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.thoughts-section .news-card:hover .news-title {
  color: #006EAC;
}/*# sourceMappingURL=style.css.map */