.recent-updates {
    .feature-news {
        border-bottom: 1px solid gray;
        padding-bottom: 10px;

        .news-details {
            time {
                color: gray;
            }
        }
    }

    .aside-news-card {
        .news-details {
            .news-title {
                font-size: 18px !important;
                line-height: 26px !important;
                @include line-clamp($line: 1);

            }
        }
    }

    .recent-news-card {
        display: grid;
        grid-template-columns: 250px auto;
        gap: 20px;
        border-bottom: 1px solid gray;

        &:last-child {
            border-bottom: none;
        }

        .news-details {
            .news-title {
                font-size: 18px !important;
                font-weight: 600;
                margin-bottom: 10px !important;

                &:hover {
                    color: $primary-color;
                }
            }

            p {
                @include line-clamp;
            }

            time {
                color: gray;
            }
        }
    }
}


.aside-advertisement {
    font-size: 14px;
    font-style: italic;
    color: #666666;

    .ads-wrapper {
        border: 1px solid gray;
        padding: 20px;
    }
}

.finance {
    .featured-news {
        position: relative;

        .news-details {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background-color: #201d1d7c;
            color: white;
            border-top: 2px solid red;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;

            .news-title {
                font-size: 18px;
                line-height: 26px;
                @include line-clamp;
            }

            time {
                text-wrap: nowrap;
            }
        }
    }

    .news-card {
        figure {
            position: relative;

            time {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                background-color: #201d1d7c;
                color: white;
                padding: 5px 20px;
                font-size: 14px;
            }
        }
        .news-title{
            margin-top: 10px;
            font-size: 18px;
            line-height: 26px;
            @include line-clamp;
        }

        &:hover{
            .news-title{
               color: $primary-color;
            }
            
        }

    }
}

.thoughts-section{
    .news-card{
        text-align: center;
        figure{
            height: 250px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 0px auto !important;
            overflow: visible !important;
            position: relative;
            &::before{
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background-color: #A1BAC8;
                border-radius: 50%;
                position: absolute;
                left: -20px;
                z-index: -1;
            }
            img{
                height: 250px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .news-title{
            margin-top: 10px;
            font-size: 18px;
            line-height: 26px;
            @include line-clamp($line:1);
        }
        &:hover{
            .news-title{
                color: $primary-color;
             } 
        }
    }
}